openapi: 3.0.0
info:
  title: MyInvois API
  description: Malaysia's tax document submission API for electronic invoices
  version: 1.0.0
  contact:
    email: support@myinvois.hasil.gov.my
servers:
  - url: https://api.myinvois.hasil.gov.my
    description: Production server
  - url: https://preprod-api.myinvois.hasil.gov.my
    description: Sandbox/Testing server

components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /connect/token
          scopes:
            InvoicingAPI: Full access to invoicing API

  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
          example: 400
        message:
          type: string
          example: Invalid request parameters
        details:
          type: object

    Token:
      type: object
      properties:
        access_token:
          type: string
          example: eyJhbGciOiJ...
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          example: 3600
        scope:
          type: string
          example: InvoicingAPI

    DocumentSubmissionRequest:
      type: object
      properties:
        documents:
          type: array
          items:
            type: object
            properties:
              format:
                type: string
                enum: [JSON, XML]
                example: JSON
              documentHash:
                type: string
                description: SHA-256 hash of document content
                example: a1b2c3d4e5...
              codeNumber:
                type: string
                description: Document code number
                example: INV00000001
              document:
                type: string
                description: Base64 encoded document content
                example: eyJJbnZvaWNlIjp...

    DocumentSubmissionResponse:
      type: object
      properties:
        submissionUID:
          type: string
          example: ABC12345DEFG
        acceptedDocuments:
          type: array
          items:
            type: object
            properties:
              uuid:
                type: string
                example: XYZ98765UVWT
              invoiceCodeNumber:
                type: string
                example: INV00000001
        rejectedDocuments:
          type: array
          items:
            type: object
            properties:
              invoiceCodeNumber:
                type: string
                example: INV00000002
              error:
                type: object

    DocumentSearchResponse:
      type: object
      properties:
        result:
          type: array
          items:
            $ref: '#/components/schemas/DocumentSummary'
        metadata:
          type: object
          properties:
            totalCount:
              type: integer
              example: 125
            totalPages:
              type: integer
              example: 3
            hasNext:
              type: boolean
              example: true

    DocumentSummary:
      type: object
      properties:
        uuid:
          type: string
          example: XYZ98765UVWT
        submissionUID:
          type: string
          example: ABC12345DEFG
        longId:
          type: string
          example: ABCDEF1234567890GHIJKLMN
        typeName:
          type: string
          example: "01"
        typeVersionName:
          type: string
          example: "1.1"
        issuerTin:
          type: string
          example: C1234567890
        issuerName:
          type: string
          example: Sample Company
        dateTimeIssued:
          type: string
          example: "2024-01-15T08:30:00Z"
        dateTimeReceived:
          type: string
          example: "2024-01-15T08:35:12Z"
        totalSales:
          type: number
          example: 1000.00
        totalDiscount:
          type: number
          example: 0.00
        netAmount:
          type: number
          example: 1000.00
        total:
          type: number
          example: 1000.00
        status:
          type: string
          example: Valid

    DocumentDetails:
      type: object
      properties:
        uuid:
          type: string
          example: XYZ98765UVWT
        submissionUid:
          type: string
          example: ABC12345DEFG
        typeName:
          type: string
          example: "01"
        typeVersionName:
          type: string
          example: "1.1"
        issuerTin:
          type: string
          example: C1234567890
        issuerName:
          type: string
          example: Sample Company
        dateTimeIssued:
          type: string
          example: "2024-01-15T08:30:00Z"
        status:
          type: string
          example: Valid
        validationResults:
          type: object
          properties:
            status:
              type: string
              example: Valid
            validationSteps:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                    example: SchemaValidation
                  status:
                    type: string
                    example: Valid

    RawDocument:
      type: object
      properties:
        uuid:
          type: string
          example: XYZ98765UVWT
        submissionUid:
          type: string
          example: ABC12345DEFG
        longId:
          type: string
          example: ABCDEF1234567890GHIJKLMN
        document:
          type: object
          description: Original document content

    TaxpayerValidation:
      type: object
      properties:
        valid:
          type: boolean
          example: true
        name:
          type: string
          example: Taxpayer Name

    DocumentStateUpdate:
      type: object
      properties:
        status:
          type: string
          enum: [Rejected, Cancelled]
          example: Rejected
        reason:
          type: string
          example: Incorrect invoice details

    DocumentStateResponse:
      type: object
      properties:
        uuid:
          type: string
          example: XYZ98765UVWT
        status:
          type: string
          example: Rejected

paths:
  /connect/token:
    post:
      summary: Get access token
      description: Authenticates using OAuth 2.0 client credentials flow
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  example: client_credentials
                client_id:
                  type: string
                client_secret:
                  type: string
                scope:
                  type: string
                  example: InvoicingAPI
      responses:
        '200':
          description: Successful authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1.0/documentsubmissions:
    post:
      summary: Submit documents
      description: Submit one or more documents to the system
      security:
        - OAuth2: [InvoicingAPI]
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentSubmissionRequest'
      responses:
        '200':
          description: Successful submission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentSubmissionResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1.0/documents/search:
    get:
      summary: Search documents
      description: Search for documents with various filters
      security:
        - OAuth2: [InvoicingAPI]
      parameters:
        - name: pageNo
          in: query
          schema:
            type: integer
          description: Page number
        - name: pageSize
          in: query
          schema:
            type: integer
          description: Items per page
        - name: submissionDateFrom
          in: query
          schema:
            type: string
          description: Start date for submission
        - name: submissionDateTo
          in: query
          schema:
            type: string
          description: End date for submission
        - name: issueDateFrom
          in: query
          schema:
            type: string
          description: Start date for issue date
        - name: issueDateTo
          in: query
          schema:
            type: string
          description: End date for issue date
        - name: status
          in: query
          schema:
            type: string
          description: Document status
        - name: documentType
          in: query
          schema:
            type: string
          description: Document type code
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentSearchResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1.0/documents/{uuid}/details:
    get:
      summary: Get document details
      description: Retrieve detailed information about a document
      security:
        - OAuth2: [InvoicingAPI]
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
          description: Document UUID
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentDetails'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Document not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1.0/documents/{uuid}/raw:
    get:
      summary: Get raw document
      description: Retrieve the original document content
      security:
        - OAuth2: [InvoicingAPI]
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
          description: Document UUID
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RawDocument'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Document not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1.0/taxpayer/validate/{tin}:
    get:
      summary: Validate taxpayer
      description: Validate a taxpayer's TIN with additional identification
      security:
        - OAuth2: [InvoicingAPI]
      parameters:
        - name: tin
          in: path
          required: true
          schema:
            type: string
          description: Taxpayer Identification Number
        - name: idType
          in: query
          schema:
            type: string
          description: ID type
        - name: idValue
          in: query
          schema:
            type: string
          description: ID value
      responses:
        '200':
          description: Successful validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxpayerValidation'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Taxpayer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1.0/documents/state/{uuid}/state:
    put:
      summary: Update document state
      description: Change document state (reject or cancel)
      security:
        - OAuth2: [InvoicingAPI]
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
          description: Document UUID
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentStateUpdate'
      responses:
        '200':
          description: Successful state update
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentStateResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Document not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'